### Build Artifacts ###
# Ignora la carpeta 'target', donde Maven compila el proyecto.
# Esto incluye archivos .class, .jar, .war, etc.
target/

# Ignora los archivos de log.
*.log
!**/src/main/**/log/
!**/src/test/**/log/

# Archivos de empaquetado y temporales.
*.jar
*.war
*.zip
*.rar
*.class

# Logs de la JVM.
hs_err_pid*

### Maven Wrapper ###
# Mantén el Maven Wrapper jar para asegurar que la construcción funcione en diferentes máquinas.
# Esta línea niega la ignorancia de "maven-wrapper.jar" definida en otras reglas.
!.mvn/wrapper/maven-wrapper.jar

### IDE Specific ###
# Configuración para IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Configuración para Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Configuración para NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/

# Configuración para Visual Studio Code
.vscode/

### OS Specific ###
# Archivos de configuración de sistema operativo.
.DS_Store
Thumbs.db